---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:

  # Infrastructure monitoring
  - cm-cluster-monitoring-config.yaml

  # User-workload monitoring
  - cm-user-workload-monitoring-config.yaml

  # Configuration Alertmanager infra
  - secret-alertmanager-main.yaml
