---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  labels:
    app: ocp-network-obs
  name: ocp-network-obs
  namespace: openshift-gitops
spec:
  destination:
    server: 'https://kubernetes.default.svc'
  project: default
  source:
    path: gitops/ocp-network-obs
    repoURL: https://github.com/alvarolop/quarkus-observability-app.git
    targetRevision: main
    helm:
      values: |
        flowCollector:
          enabled: true
        operator:
          keepOnUninstall: true
    #     runOnInfraNodes: false
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
